<!DOCTYPE html>
<html>
<head>
    <title>Interactive Graph</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div>
        <div id="graph">
            <h2>Line Graph - Year-Genres</h2>
            {{ linegraph_html|safe }}
        </div>
    </div>
    <div>
        <div id="graph">
            <h2>Heat Map - Year-Genres</h2>
            {{ heatmap_html_year|safe }}
        </div>
    </div>
    <div>
        <div id="graph">
            <h2>Heat Map - Genres-Score</h2>
            {{ heatmap_html_score|safe }}
        </div>
    </div>
    <div>
        <div id="graph">
            <h2>Heat Map - Genres-Score_Group</h2>
            {{ heatmap_html_scoregroup|safe }}
        </div>
    </div>
    <div>
        <div id="graph">
            <h2>Table - Genres-Score_Group</h2>
            {{ table_html_score|safe }}
        </div>
    </div>
    <div>
        <div id="graph">
            <h2>Line chart - Genres-Score_Group</h2>
            {{ line_html_score|safe }}
        </div>
    </div>
</body>
</html>
